:root {
	--rust:#CD6C36;
	--blue: #132034;
	--teal: #12627B;
	--cream: #F5F5EC;
}

@font-face{
font-family: impact;
src: url('../Fonts/impact.ttf');}

@font-face{
font-family: Roboto-Regular;
src: url('../Fonts/Roboto-Regular.ttf');}

@font-face{
font-family: Roboto-Light;
src: url('../Fonts/Roboto-Light.ttf');}

@font-face{
font-family: Roboto-Bold;
src: url('../Fonts/Roboto-Bold.ttf');}

@font-face{
font-family: Elza-Narrow-Semi;
src: url('../Fonts/ElzaTrial-NarrowSemibold.otf');}

@font-face{
font-family: Elza-Narrow-Medium;
src: url('../Fonts/ElzaTrial-NarrowMedium.otf');}

@font-face{
font-family: Stolzl-Regular;
src: url('../Fonts/Stolzl-Regular.otf');}

@font-face{
font-family: Stolzl-Light;
src: url('../Fonts/Stolzl-Light.ttf');}


@media (min-width: 0px) {
h1 {font-size:4rem;text-align:center;}
h2 {font-size:2.5rem;}
h3 {font-size:1.4rem;}
h4 {font-size:1.3rem;}
h5 {font-size:1.1rem; line-height:130%;}
h6 {font-size:1.2rem;}
p {font-size:1.2rem; line-height:140%;}
li {font-size:1.0rem;}

img.logo {width:300px; margin: 20px auto 50px; padding:20px;}
.logo {width:100%; margin: 50px 0 0 0px;}
.home-hero {padding-left:15px; text-align:center;max-height:750px;}
div.teal-button {margin: 40px auto 10px;}
div.revolution-hide {display:inline;width:100%;}
div.revolution-hide h1 {text-align:center;font-size:4.5rem;margin-top:30px;}
div.revolution {display:none;}
div.revolution2 {display:none;} 

h6.leadin {color:#CD6C36; font-size:1.25rem; font-weight:600; text-align:center;}
h2.intro {color:black; font-family:'Elza-Narrow-Medium'; font-weight:400; text-align:center;}
p.intro {text-align:center;font-size: 1.4rem;font-weight:400; font-family:'Roboto';}
div.intro {color:#EAEBD4;background-color:var(--blue);margin:20px -100px 20px -100px;padding:40px 100px 40px 100px;}

.change {padding: 60px 60px 60px 30px; text-align:center;}
.change h2 {font-family:'Elza-Narrow-Semi';font-size:2.8rem;}
.change p {font-family:'Stolzl-Regular'; font-size:1.4rem;}
.change-img {display:none;}
.firebrand-way {width:100%;margin: 2% 2%;}
.firebrand-way p{font-size:1.2rem; font-weight:600;}

.learn {width:100%;padding:3% 5%;}
.who {padding: 25px 0px;}
.founders {margin: 3% 10% 0%; text-align:center;}
.founder-pane p {font-size:1.0rem; line-height: 150%; font-weight:600;}
.founder-pane h3{margin-top:10px; font-family:'Elza-Narrow-Medium';}
.founder-pane {padding:10px;}
.hidden-sogn1 {display:none;}
.hidden-sogn2 {display:inline;}
.panes p {font-size:1.1rem;}
.panes-list h4{text-decoration:underline;font-weight:700; font-size:1.2rem;}
.panes-list li {font-size:1rem;}
.careers p {font-size:1.3rem; padding:20px 0px;}

.services {background-color:var(--cream)!important;padding:5% 5% 2%;}
.services-panes {background-color:white; border-radius:15px;}

.careers-list li {color:white; font-weight: 600; font-family:'Stolzl-Light'; font-size:1.1rem; padding: 10px 0px;}
div.footer h4 {font-size:1.0rem; color:white; font-weight:700;padding:20px 0px 10px 0px; text-align:center;}
div.footer h5 {font-size:0.9rem; color:white; font-weight:500;padding:5px 0px 10px 0px; text-align:center;}
}

@media (min-width:768px) {
h1 {font-size:6rem;text-align:left; line-height:110%;}
h2 {font-size:2.0rem;}
h3 {font-size:1.5rem;}
h4 {font-size:1.3rem;}
h5 {font-size:1.0rem; line-height:130%; text-align:left;}
h6 {font-size:1rem;}
p {font-size:1rem; line-height:140%;}
li {font-size:1.1rem;}

img.logo {width:300px; margin: 20px auto; padding:0px;}
.home-hero {max-height:100%;text-align:left;padding-left:50px;}
div.teal-button {margin: 25px 0 0px;}
div.revolution-hide {display:none;}
div.revolution {display: inline; margin-top:150px; width:100%;}
div.revolution2 {display:inline;}

h6.leadin {color:#CD6C36; font-size:1.25rem; font-weight:600; text-align:left;}
h2.intro {text-align:left;}
p.intro {text-align:left;}
div.intro {border-radius:5px;margin:20px -60px 20px -150px; padding:40px 60px 40px 150px;}

.change {padding: 60px 60px 60px 15%; text-align:center; }
.services {margin:0 0%;}

.founders {margin: 3% 15% 0%; text-align:left;}
.founder-pane {padding:40px;}
.founder-pane h3{margin-top:50px; font-family:'Elza-Narrow-Medium';}
.hidden-sogn1 {display:inline;}
.hidden-sogn2 {display:none;}
}

@media (min-width:1200px) {
h1 {font-size:7.5rem;text-align:left;line-height:100%;}
h2 {font-size:3.0rem;}
h3 {font-size:2.0rem;}
h4 {font-size:1.5rem;}
h5 {font-size:1.5rem; line-height:140%;}
h6 {font-size:1.35rem; line-height:140%;}
p {font-size:1.25rem; line-height:140%;}
li {font-size:1.35rem;}

.home-hero {padding-left:0px; }
.revolution2 {display:inline;}

.change {padding:5% 5% 5% 5%; text-align:left; line-height:150%; max-width:800px;}
.change-x {display:block;}
.change-img {display:block;}
.firebrand-way {width:85%;margin: 2% 9% 0%;}
.revolution {margin-top: 250px; max-width:750px; z-index:49;}
.learn {width:100%;padding: 1% 25%;}
.founders {margin: 3% 10% 0%; text-align:left; padding-bottom:30px;}
.founder-pane {padding:40px;}
.who {padding: 25px 150px;}
.services-section {padding:40px 0;}
.services {border-radius:15px;padding:4% 5% 2%; margin:0 8%;}

.services-panes h3{font-family:'Elza-Narrow-Medium'; color:var(--rust);}
.services-panes h5{font-weight:500; font-size:1.25rem; font-family:'Roboto'; color:black;}
.services-list {padding: 0 0 0 40px;}
.services-list li {font-family:'Roboto'; font-size:1.15rem;}
}



body, html {
    height: 100%;
	background-color:none;
	font-family: 'Stolzl-Light';
	font-weight: 500;
}

body {
  background-color:black;
  /*background-image: url('../Images/circuit-background.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}


.container {max-width: 1500px;background-color:white;}
.row {margin:0px; padding: 0px 8%;}


div.home-hero {
	background-image: url('../Images/Tunnel-Walkway.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height:1100px;
}


div.founder-pane h4{font-family:'Elza-Narrow-Medium';}
div.founder-pane img {width: 100%; border-radius:5px;opacity:80%;}
div.learn h2 {font-family:'Elza-Narrow-Medium';}

div.teal-button {
	background-color:var(--teal);
	font-weight:600;
	padding: 12px 10px;
	text-align:center;
	color: #fff;
	height: 45px;
	width:200px;
	border-radius:4px;

}


div.panes h2 {
	margin: 25px 0px 15px;
	font-weight:600;
	letter-spacing: 1px;
}

div.panes h3 {
	font-weight:600;
	padding:5px 0px;
	font-family:'Roboto-Regular';
}


div.panes h4 {

	text-align: left;
	line-height:140%;
}

div.panes h6 {
	font-weight:400;
	text-align: left;
	line-height:140%;
}

div.panes li {
	text-align: left;
}

div.founder-image img{
	border-radius:5px;
	width:100%;
	max-width:350px;
	height:auto;

}
